<!DOCTYPE html>
<html lang="zxx">

<head th:replace="fragments/header :: head">
<meta charset="UTF-8" />
</head>

<body onload="init();">

	<header th:replace="fragments/header :: header"></header>

	<!-- Start: Page Banner -->
	<section class="page-banner services-banner">
		<div class="container">
			<div class="banner-header">
				<h2>Editar libro</h2>
				<span class="underline center"></span>
				<p class="lead">Editar un libro en el sistema</p>
			</div>
			<div class="breadcrumb">
				<ul>
					<li><a href="@{/}">Mi cuenta</a></li>
					<li>Editar libro</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- End: Page Banner -->

	<div id="content" class="site-content" style="margin-bottom:8%">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
				<div class="checkout-main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<article class="page type-page status-publish hentry">
									<div class="entry-content">
										<div class="woocommerce">
											<form
												th:action="@{'/book/'+${libro.id}+'/update'}" th:object="${libroDTO}"
												class="checkout woocommerce-checkout" method="post"
												enctype="multipart/form-data"
												name="edit_book">
												<div class="row">
													<div id="customer_details">
														<div class="col-xs-12 col-sm-12">
															<div class="woocommerce-billing-fields">
																<h2>Edita un libro</h2>
																<span class="underline left"></span>
																<div class="row">
																	<div class="billing-address-box">

																			<p id="booktitle"
																				class="form-row form-row form-row-first">
																				<label for="tbxTitle" class="field-label">Título</label>
																				<input th:value="${libro.nombre}" type="text"
																					autocomplete="title" placeholder="Título del libro"
																					id="tbxTitle" name="title"
																					class="input-text" readonly>
																			</p>

																			<p id="bookeditorial"
																				class="form-row form-row form-row-last validate-required">
																				<label for="tbxEditorial" class="field-label">Editorial</label>
																				<input th:value="${libro.editorial}" type="text"
																					autocomplete="editorial" placeholder="Editorial"
																					id="tbxEditorial" name="editorial"
																					class="input-text" readonly>
																			</p>


																			<p id="autorname"
																				class="form-row form-row form-row-wide">
																				<label for="tbxAutor" class="field-label">Autor</label>
																				<input th:value="${libro.autor}" type="text" value=""
																					autocomplete="autor"
																					placeholder="Autor" name="autor"
																					id="tbxAutor" class="input-text " readonly>
																			</p>


																			<p id="skunumber"
																				class="form-row form-row form-row-last validate-required">
																				<label for="tbxSku" class="field-label">SKU</label>
																				<input th:value="${libro.sku}" type="text" value=""
																					placeholder="SKU" name="sku"
																					id="tbxSku" class="input-text" readonly>
																			</p>


																			<p id="isbnnumber"
																				class="form-row form-row form-row-last validate-required">
																				<label for="tbxIsbn" class="field-label">ISBN</label>
																				<input th:value="${libro.isbn}" type="text" name="isbn"
																					placeholder="ISBN" value=""
																					id="tbxIsbn" class="input-text " readonly>
																			</p>

																			<p id="numberbooks"
																				class="form-row form-row form-row-last validate-required">
																				<label for="tbxStock" class="field-label">Stock</label>
																				<input  th:value="${libro.stock}" type="number" value="" placeholder="Cantidad de libros" th:id="libro.stock" th:name="libro.stock" class="input-text" id="tbxStock">
																			</p>

																			<p id="numberpages"
																				class="form-row form-row form-row-last validate-required">
																				<label for="tbxCantPags" class="field-label">Cantidad páginas</label>
																				<input th:value="${libro.cantidadPag}" type="number" value=""
																					placeholder="Cantidad de páginas" id="tbxCantPags"
																					name="pages" class="input-text " readonly>
																			</p>

																			<p id="bookprice"
																				class="form-row form-row form-row-last validate-required">
																				<label for="tbxPrecio" class="field-label">Precio</label>
																				<input  th:value="${libro.precio}" type="tel" value="" autocomplete="price" placeholder="Precio (CLP)" id="tbxPrecio" th:name="libro.precio" th:id="libro.precio" class="input-text ">
																			</p>

																			<p id="bookcategory"
																				class="form-row form-row form-row-last validate-required">
																			<table id="selectCategoria" class="table scroll table-striped table-bordered table-sm" cellspacing="0"
																				   width="100%">
																				<thead>
																				<th class="seleccion">Selección</th>
																				<th class="categoria">Categoría</th>
																				</thead>
																				<tbody>
																				<th:block th:each="categoria : ${categorias}">
																					<tr>
																						<td th:with="condition=${#lists.contains(categoriasLibro, categoria.id)}">
																							<input type="checkbox" th:name="listaCategorias" th:value="${{categoria.id}}" th:checked="${condition}">
																						</td>
																						<td class="categoria"><label th:text="${categoria.nombre}"></label></td>
																					</tr>
																				</th:block>
																				</tbody>
																			</table>
																			</p>

																			<p id="booklanguage"
																				class="form-row form-row form-row-last validate-required">
																				<label for="selectIdioma" class="field-label">Idioma</label>
																				<select th:field="*{idioma_id}" id="selectIdioma" name="selectIdioma" data-name="selectIdioma" class="w-select">
																					<option th:value="${idioma.id}" th:text="${idioma.nombre}" selected></option>
																				</select>

																			</p>


																		<!--	<p id="bookcover"
																				class="form-row form-row form-row-last validate-required">
																				<label for="cover">Carátula libro</label>
																				<input th:field="*{imagen}" type="file" value="" placeholder="Carátula" id="cover" name="cover">
																				<small>.jpeg, .jpg, .png</small>
																			</p>

																			<p id="bookfile"
																				class="form-row form-row form-row-last validate-required">
																				<label for="file">Sube el libro en formato digital</label>
																				<input th:field="*{archivoPdf}" type="file" value="" placeholder="Archivo" id="file" name="file">
																				<small>.pdf</small>
																			</p>-->
																		<p>
	                                                                    <div class="col-sm-12">
	                                                                        <div class="form-group">
	                                                                            <textarea class="form-control" placeholder="Escribe aqui la reseña" th:id="libro.resenia" th:name="libro.resenia" aria-required="true" style="resize:vertical" th:text="${libro.resenia}" th:value="${libro.resenia}"></textarea>
	                                                                            <div class="clearfix"></div>
	                                                                        </div>
	                                                                    </div>																																		</p>
																		<div class="col-xs-12 col-sm-6">
																			
																			<input type="submit" class="btn btn-default" name="newbook" value="Registrar libro">
																		</div>
																	</div>
																</div>
																<div class="clear"></div>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</form>
										</div>
									</div>
									<!-- .entry-content -->
								</article>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<!-- End: Cart Checkout Section -->
	
	<span></span>
	
	<footer th:replace="fragments/footer :: footer"> </footer>
</body>