<!DOCTYPE html>
<html lang="zxx">
    
<head th:replace="fragments/header :: head" /> 

<body onload="getBooks()">

    <header th:replace="fragments/header :: header"></header>

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Libro disponibles</h2>
				<span class="underline center"></span>
                <p class="lead">¡Dale un vistazo a nuestra mejor colección!</p>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li>Libros disponibles</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <!-- Start: Products Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-full-width">
                    <div class="container">
<!--                         Start: Search Section -->
                        <section class="search-filters">
                            <div class="container">
                                <div class="filter-box">

                                    <h3>¿Qué es lo que estas buscando el día de hoy?</h3>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Buscar por palabra</label>
                                            <input class="form-control" placeholder="Buscar por palabra" id="keywords" name="keywords" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="idioma" id="idioma" class="form-control">
                                                <option value="-1">Todos los idiomas</option>
                                                <option th:each="idioma : ${idiomas}" th:value="${idioma.id}" th:text="${idioma.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="categoria" id="categoria" class="form-control">
                                                <option value="-1">Todas las categorías</option>
                                                <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <button onclick="getBooks();">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
<!--                         End: Search Section -->
                        
                        <div class="filter-options margin-list" style="margin-top:4%">
                            <div class="row">                                            
                                 <div class="col-md-3 col-sm-3">
                                     <select id="orderby" name="orderby">
                                         <option selected="selected" value="-1">Ordenar por</option>
                                         <option value="precio">Ordenar por precio</option>
                                         <option value="nombre">Ordenar por nombre</option>
                                     </select>
                                 </div>
                                <div class="col-md-2 col-sm-12 pull-right">
                                    <div class="filter-toggle">
                                        <a th:href="@{bookgrid}" class="active"><i class="glyphicon glyphicon-th-large"></i></a>
                                        <a th:href="@{booklist}"><i class="glyphicon glyphicon-th-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="booksmedia-fullwidth">
                        <div class="alert alert-success text-center" role="alert" th:text="${success}" th:if="${success}"></div>
                        <div class="alert alert-danger text-center" role="alert" th:text="${error}" th:if="${error}"></div>    
                            <ul id="lista_libros">

                            </ul>
                        </div>
                        <nav class="navigation pagination text-center">
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            <div id="div_navegacion" class="nav-links">

                            </div>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Products Section -->

    <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title">Siguenos en redes sociales</h2>

                <p class="lead"></p>     
            </div>
            <ul>
                <li>
                    <a class="facebook" href="#" target="_blank">
                        <span>
                            <i class="fa fa-facebook-f"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="rss" href="#" target="_blank">
                        <span>
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" target="_blank">
                        <span>
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </li>                    
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->

    <footer th:replace="fragments/footer :: footer"> </footer>
    <input id="isUser" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" value="true" hidden>
    <input id="isAdmin" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" value="true" hidden>

    <script type="text/javascript">

        var pageNumber = 0, sortField = 'id', sortDirection = 'DESC', pageSize = 6;
        var pagAnterior, pagSiguiente, currentPage, texto="", idioma, categoria;

        function displayPages(pageable, totalElementos, totalPaginas) {
            pagAnterior = pageable.pageNumber-1;
            pagSiguiente = pageable.pageNumber+1;

            if (pagAnterior < 0) {
                pagAnterior = 0;
            }
            if (pagSiguiente >= totalPaginas) {
                pagSiguiente = totalPaginas-1;
            }

            var html = '<a class="prev page-numbers" onclick="getBooks(\''+pagAnterior+'\',\''+sortField+'\',\''+sortDirection+'\')"><i class="fa fa-long-arrow-left"></i> Anterior</a>';

            if (totalPaginas == 1) {
                html += '<a class="page-numbers current" >'+(pageable.pageNumber+1)+'</a>';
            } else {
                if (pageable.pageNumber == 0) {
                    html += '<a class="page-numbers current" >' + (pageable.pageNumber + 1) + '</a>' +
                        '<a class="page-numbers" >...</a>' +
                        '<a class="page-numbers" onclick="getBooks(\'' + (totalPaginas - 1) + '\',\'' + sortField + '\',\'' + sortDirection + '\')">' + totalPaginas + '</a>';
                } else if (pageable.pageNumber == totalPaginas - 1) {
                    html += '<a class="page-numbers" onclick="getBooks(\'' + 0 + '\',\'' + sortField + '\',\'' + sortDirection + '\')">1</a>' +
                        '<a class="page-numbers" >...</a>' +
                        '<a class="page-numbers current" >' + (totalPaginas) + '</a>';
                } else {
                    html += '<a class="page-numbers" onclick="getBooks(\'' + 0 + '\',\'' + sortField + '\',\'' + sortDirection + '\')">1</a>' +
                        '<a class="page-numbers current">' + (pageable.pageNumber + 1) + '</a>' +
                        '<a class="page-numbers" onclick="getBooks(\'' + (totalPaginas - 1) + '\',\'' + sortField + '\',\'' + sortDirection + '\')">' + totalPaginas + '</a>';
                }
            }

            html += '<a class="next page-numbers" onclick="getBooks(\''+pagSiguiente+'\',\''+sortField+'\',\''+sortDirection+'\')"><i class="fa fa-long-arrow-right"></i> Siguiente</a>';


            document.getElementById("div_navegacion").innerHTML = html;
        }

        function getBooks(page, sortingField, sortingDirection) {
            if (page == null) {
                page = pageNumber;
            }
            if (sortingField == null) {
                var sort = document.getElementById("orderby").value;
                if (sort == "-1") {
                    sortingField = sortField;
                } else {
                    sortingField = sort;
                    sortingDirection = "ASC";
                }
            }
            if (sortingDirection == null) {
                sortingDirection = sortDirection;
            }

            texto = document.getElementById("keywords").value;
            idioma = document.getElementById("idioma").value;
            categoria = document.getElementById("categoria").value;
            var isUser = document.getElementById("isUser"), isAdmin = document.getElementById("isAdmin");

            if (texto == "" && idioma == -1 && categoria == -1) {
                var html = '';
                $.get("http://localhost:8080/books?page=" + page + "&size=" + pageSize + "&sortingField=" + sortingField + "&sortingDirection=" + sortingDirection, function (data, status) {

                    for (var i = 0; i < data.content.length; i++) {
                        html +=
                            '<li>'+
                            '<div class="book-list-icon yellow-icon">' +
                            '</div>'+
                            '<figure>';

                        if (isUser != null) {
                            html += '<a href="/book/'+ data.content[i].id +'/summary"><img src="/book/'+ data.content[i].id +'/image" alt="Book"></a>';
                        } else if (isAdmin != null) {
                            html += '<a href="/book/'+ data.content[i].id +'/summary"><img src="/book/'+ data.content[i].id +'/image" alt="Book"></a>';
                        } else {
                            html += '<a ><img src="/book/'+ data.content[i].id +'/image" alt="Book"></a>'
                        }
                            html +=
                            '<figcaption>'+
                            '<header>'+
                            '<h4><a>'+data.content[i].nombre+'</a></h4>'+
                            '<p><strong>Autor(a): '+data.content[i].autor+'</strong></p>' +
                            '<p><strong>ISBN: '+data.content[i].isbn+'</strong></p>'+
                            '</header>'+
                            '<p style="height: 80px; max-width: 168; overflow: hidden; white-space: normal; text-overflow: ellipsis;">' + data.content[i].resenia + '</p>';

                            if (isUser != null) {
                                html +=
                                '<div class="actions">' +
                                '<ul>' +
                                '<li>' +
                                '<a href="/addtocart/' + data.content[i].id + '?view=/bookgrid" data-toggle="blog-tags" data-placement="top" title="Agregar al carrito">' +
                                '<i class="fa fa-shopping-cart"></i>' +
                                '</a>' +
                                '</li>' +
                                '</ul>' +
                                '</div>'
                            } else if (isAdmin) {
                                html +=
                                '<div class="actions">'+
                                '<ul>'+
                                '<li>'+
                                '<a href="/book/' + data.content[i].id + '/edit" target="_blank" data-toggle="blog-tags" data-placement="top" title="Editar libro">' +
                                '<i class="fa fa-book"></i>' +
                                '</a>' +
                                '</li>' +
                                '</ul>' +
                                '</div>';
                            }
                            html +=
                            '</figcaption>'+
                            '</figure>'+
                            '</li>';
                    }
                    document.getElementById("lista_libros").innerHTML = html;
                    displayPages(data.pageable, data.totalElements, data.totalPages);
                    currentPage = data.number;
                    console.log(data);
                });
            } else {
                $.get("http://localhost:8080/booksfield?page="+page+"&size="+pageSize+"&sortingField="+sortingField+"&sortingDirection="+sortingDirection+"&idioma="+idioma+"&categoria="+categoria+"&texto="+texto, function (data, status) {

                    html = '';

                    for (var i = 0; i < data.content.length; i++) {
                        html +=
                            '<li>'+
                            '<div class="book-list-icon yellow-icon">' +
                            '</div>'+
                            '<figure>';

                        if (isUser != null) {
                            html += '<a href="/book/'+ data.content[i].id +'/summary"><img src="/book/'+ data.content[i].id +'/image" alt="Book"></a>';
                        } else if (isAdmin != null) {
                            html += '<a href="/book/'+ data.content[i].id +'/summary"><img src="/book/'+ data.content[i].id +'/image" alt="Book"></a>';
                        } else {
                            html += '<a ><img src="/book/'+ data.content[i].id +'/image" alt="Book"></a>'
                        }
                        html +=
                            '<figcaption>'+
                            '<header>'+
                            '<h4><a>'+data.content[i].nombre+'</a></h4>'+
                            '<p><strong>Autor(a): '+data.content[i].autor+'</strong></p>' +
                            '<p><strong>ISBN: '+data.content[i].isbn+'</strong></p>'+
                            '</header>'+
                            '<p style="height: 80px; max-width: 168; overflow: hidden; white-space: normal; text-overflow: ellipsis;">' + data.content[i].resenia + '</p>';

                        if (isUser != null) {
                            html +=
                                '<div class="actions">' +
                                '<ul>' +
                                '<li>' +
                                '<a href="/addtocart/' + data.content[i].id + '?view=/bookgrid" data-toggle="blog-tags" data-placement="top" title="Agregar al carrito">' +
                                '<i class="fa fa-shopping-cart"></i>' +
                                '</a>' +
                                '</li>' +
                                '</ul>' +
                                '</div>'
                        } else if (isAdmin) {
                            html +=
                                '<div class="actions">'+
                                '<ul>'+
                                '<li>'+
                                '<a href="/book/' + data.content[i].id + '/edit" target="_blank" data-toggle="blog-tags" data-placement="top" title="Editar libro">' +
                                '<i class="fa fa-book"></i>' +
                                '</a>' +
                                '</li>' +
                                '</ul>' +
                                '</div>';
                        }
                        html +=
                            '</figcaption>'+
                            '</figure>'+
                            '</li>';
                    }
                    document.getElementById("lista_libros").innerHTML = html;
                    displayPages(data.pageable, data.totalElements, data.totalPages);
                    currentPage = data.number;
                    console.log(data);
                });
            }
        }

    </script>
</body>


</html>