<!DOCTYPE html>
<html lang="zxx">
    

<head th:replace="fragments/header :: head"><meta charset="UTF-8"/></head>        
    
<body>
    
    <header th:replace="fragments/header :: header"></header>
    
    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Ver carrito</h2>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a th:href="@{myaccount}">Mi cuenta</a></li>
                    <li>Ver carrito</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->    
    
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="cart-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div class="woocommerce table-tabs" id="responsiveTabs">
											<div class="tab-content">
												<div id="sectionA" class="tab-pane fade in active">
													<table class="table table-bordered shop_table cart">
														<thead>
															<tr>
																<th>Nombre</th>
																<th>Autor</th>
																<th>ISBN y SKU</th>
																<th>Páginas</th>
																<th>Editorial</th>
																<th>Idioma</th>
																<th>Categorías</th>
																<th>Cantidad</th>
																<th>Precio</th>
																<th>Precio acumulado</th>
															</tr>
														</thead>
														<tbody>
															<tr class="cart_item" th:each="c : ${carrito}">
																<td><span th:text="${c.libro.nombre}"></span></td>
																<td><span th:text="${c.libro.autor}"></span></td>
																<td><span th:utext="|${c.libro.isbn} <br /> ${c.libro.sku}|"></span></td>
																<td><span th:text="${c.libro.cantidadPag}"></span></td>
																<td><span th:text="${c.libro.editorial}"></span></td>
																<td><span th:text="${c.libro.idioma.nombre}"></span></td>
																<td>
																<th:block th:each="categoria : ${c.libro.categorias}">																
																<span th:text="|- | + ${categoria.nombre}"></span> 
																<br/>
																</th:block>
																</td>
																<td><span th:text="${c.cantidad}"></span></td>
																<td><span th:text="|$| +  ${c.libro.precio}"></span></td>
																<td><span th:text="|$| + ${c.cantidad} * ${c.libro.precio}"></span></td>
															</tr>
														</tbody>
													</table>
													<h4 th:text="|Precio total: $${session.Total}|"></h4>
												</div>
											</div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    
    
        
    <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title">Siguenos en redes sociales</h2>

                <p class="lead"></p>     
            </div>
            <ul>
                <li>
                    <a class="facebook" href="#" target="_blank">
                        <span>
                            <i class="fa fa-facebook-f"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="rss" href="#" target="_blank">
                        <span>
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" target="_blank">
                        <span>
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </li>                    
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->    
    
    
    <footer th:replace="fragments/footer :: footer"> </footer>
    
    
</body>