<!DOCTYPE html>
<html lang="zxx">
    

<head th:replace="fragments/header :: head"><meta charset="UTF-8"/></head>        
    
<body>
    
    <header th:replace="fragments/header :: header"></header>
    
    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Confirmar pago</h2>
				<span class="underline center"></span>
                <p class="lead">¿Estás listo para realizar tu compra?</p>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a th:href="@{myaccount}">Mi cuenta</a></li>
                    <li>Confirmar pago</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->    
    
    <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="checkout-main">
                        <div class="container">
                        		<div class="alert alert-success text-center" role="alert" th:text="${success}" th:if="${success}"></div>
                                <div class="col-md-12">
                                    <article class="page type-page status-publish hentry">
                                        <div class="entry-content">
                                            <div class="woocommerce">
                                                <form th:action="@{/payment}" class="checkout woocommerce-checkout" method="post" name="checkout">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-sm-6">
                                                            <h2>Tu orden</h2>
                                                            <span class="underline left"></span>
                                                            <div class="woocommerce-checkout-review-order" id="order_review">
                                                                <table class="shop_table woocommerce-checkout-review-order-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="product-name">Libros</th>
                                                                            <th class="product-total">Cantidad</th>
                                                                            <th class="product-total">Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    	<input id="cartSize" type="hidden" th:value="${#lists.size(carrito)}">
                                                                        <tr class="cart_item" th:each="c : ${carrito}">
                                                                            <td class="product-name">
                                                                                <span class="woocommerce-product-amount" th:text="${c.libro.nombre}"></span>
                                                                            </td>
                                                                            <td class="product-total">
                                                                                <span class="woocommerce-Price-amount amount" th:text="${c.cantidad}"></span>
                                                                            </td>
                                                                            <td class="product-total">
                                                                                <span class="woocommerce-Price-amount amount" th:text="|$| + ${c.cantidad} * ${c.libro.precio}"></span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr class="cart-shipping">
                                                                            <td>Costo de envío</td>
                                                                            <td></td>
                                                                            <td><strong class="shipping-amount">Gratis</strong></td>
                                                                        </tr>
                                                                        <tr class="order-total">
                                                                            <th>Total</th>
                                                                            <td></td>
                                                                            <th th:text=|$${session.Total}|></th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="woocommerce-checkout-payment" id="payment">
                                                                <h2>Método de pago</h2>
                                                                <span class="underline left"></span>
                                                                <div class="form-row place-order">
                                                                    <div class="radio">
                                                                        <label for="paypal"><strong>Pago con tarjeta de crédito</strong>
                                                                            <span><a href="#"><img src="images/cart/payment-discover.jpg" alt=""></a></span>
                                                                            <span><a href="#"><img src="images/cart/payment-american-express.jpg" alt=""></a></span>
                                                                            <span><a href="#"><img src="images/cart/payment-paypal.jpg" alt=""></a></span>
                                                                            <span><a href="#"><img src="images/cart/payment-mastercard.jpg" alt=""></a></span>
                                                                            <span><a href="#"><img src="images/cart/payment-visa.jpg" alt=""></a></span>
                                                                        </label>
                                                                    </div>
                                                                    <input id="order" type="submit" data-value="Place order" value="Confirmar orden" name="woocommerce_checkout_place_order" class="button alt btn btn-default">	
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                </form>
                                            </div>
                                        </div><!-- .entry-content -->
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>    
    
    <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title">Siguenos en redes sociales</h2>

                <p class="lead"></p>     
            </div>
            <ul>
                <li>
                    <a class="facebook" href="#" target="_blank">
                        <span>
                            <i class="fa fa-facebook-f"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="rss" href="#" target="_blank">
                        <span>
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" target="_blank">
                        <span>
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </li>                    
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->    
    
    
    <footer th:replace="fragments/footer :: footer"> </footer>
    
    <script>
    
	$(document).ready(function () {
	    $('#order').click(function() {
	      var value=$.trim($("#cartSize").val());
	      if(value==0){
	    	  alert("Tu carrito está vacío.");
	    	  return false		    	  		    	  
	      }
	        
	    });
	});	    
    
    
    
    </script>
    
</body>