<!DOCTYPE html>
<html lang="zxx">
    

<head th:replace="fragments/header-unregistered :: head"></head>

<body>
    
    <header th:replace="fragments/header-unregistered :: header"></header>
    
    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Inicia sesi√≥n o reg√≠strate</h2>

            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li>Iniciar sesi√≥n / Registrarse</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->
    
      
    <!-- Start: Cart Section -->
    <div id="content" class="site-content">                 
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="signin-main">
                    <div class="container">
                        <div class="woocommerce">
                            <div class="woocommerce-login">
                                <div class="company-info signin-register">
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="company-detail bg-dark margin-left">
                                                    <div class="signin-head">
                                                        <h2>Iniciar sesi√≥n</h2>

                                                    </div>
                                                    <form th:action="@{user/${nickname}}" class="login" method="post">
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Nombre de usuario</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="nickname" name="nickname" th:value="${nickname}" class="input-text" pattern="(?=.*\d)(?=.*[a-zA-Z]).{5,8}" title="Escribe de 5 a 8 car·cteres y a lo menos una letra y un n˙mero" required>
                                                         </p>
                                                        <p class="form-row form-row-last input-required">
                                                            <label>
                                                                <span class="first-letter">Contrase√±a</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="password" id="password" name="password" th:value="${password}" class="input-text" pattern=".{8,}" title="Ingresa m·s de 8 car·cteres porfavor" required>
                                                        </p>
                                                        <div class="clear"></div>
                                                        <div class="password-form-row">
                                                            <p class="form-row input-checkbox">
                                                                <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                                                <label class="inline" for="rememberme">Recordarme</label>
                                                            </p>
                                                            <p class="lost_password">
                                                                <a href="#">¬øOlvidaste tu constrase√±a?</a>
                                                            </p>
                                                        </div>
                                                        <input type="submit" value="Ingresar" name="login" class="button btn btn-default">
                                                        <div class="clear"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 new-user">                                  
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="company-detail new-account bg-light margin-right">
                                            	    <div class="alert alert-success text-center" role="alert" th:text="${success}" th:if="${success}"></div>
										            <div class="alert alert-danger text-center" role="alert" th:text="${error}" th:if="${error}"></div>    
                                                    <div class="new-user-head">
                                                        <h2>Registrarse</h2>

                                                    </div>
                                                    <form th:action="@{user/add}" th:object="${user}" class="login" method="post">
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Nombre de usuario</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="username" name="username" th:field="*{nickname}" class="input-text" pattern="(?=.*\d)(?=.*[a-zA-Z]).{5,8}" title="Escribe de 5 a 8 car·cteres y a lo menos una letra y un n˙mero" required>                                                        	
                                                        </p>
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Nombres</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="input-text" pattern="[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]+(\s*[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]*)*[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]" title="Ingresa m·s de una letra y sÛlo texto porfavor" required>
                                                        </p>          
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Apellido paterno</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="paterno" name="paterno" th:field="*{paterno}" class="input-text" pattern="[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]+(\s*[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]*)*[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]" title="Ingresa m·s de una letra y sÛlo texto porfavor" required>
                                                        </p> 
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Apellido materno</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="materno" name="materno" th:field="*{materno}" class="input-text" pattern="[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]+(\s*[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]*)*[a-zA-Z¿-ˇ\u00f1\u00d1\u00E0-\u00FC\U+00C0-\U+00DC]" title="Ingresa m·s de una letra y sÛlo texto porfavor" required>
                                                        </p>                                                                                                                                                                                                                     
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Correo electr√≥nico</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="email" id="email" name="email" th:field="*{email}" class="input-text" required>
                                                        </p>
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Tel√©fono</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="telefono" name="telefono" th:field="*{telefono}" class="input-text" pattern="[+][0-9]+" title="Ingresa el simbolo '+' seguido de tu n˙mero telÈfonico porfavor" required>
                                                        </p>
                                                        <p class="form-row form-row-first input-required">
                                                            <label>
                                                                <span class="first-letter">Direcci√≥n</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="text" id="direccion" name="direccion" th:field="*{direccion}" class="input-text" required>
                                                        </p>
                                                        <p class="form-row input-required">
                                                            <label>
                                                                <span class="first-letter">Contrase√±a</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="password" id="password" name="password" th:field="*{password}" pattern=".{8,}" title="Ingresa m·s de 8 car·cteres porfavor" class="input-text" required>
                                                        </p>  
                                                        <p class="form-row input-required">
                                                            <label>
                                                                <span class="first-letter">Confirmar contrase√±a</span>  
                                                                <span class="second-letter">*</span>
                                                            </label>
                                                            <input type="password" id="password2" name="password2" th:value="${password2}" pattern=".{8,}" title="Ingresa m·s de 8 car·cteres porfavor" class="input-text" required>
                                                        </p>  

                                                                                                                                                                                                                          
                                                        <div class="clear"></div>
                                                        <input type="submit" value="Registrarse" name="signup" class="button btn btn-default">
                                                        <div class="clear"></div>
                                                    </form> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Cart Section -->
        
    <footer th:replace="fragments/footer-unregistered :: footer"> </footer>

</body>


</html>
